version: '3' # Docker-Compose Version 2 file
services:
  micro-service-sample:  # service name
    container_name: sample
    build:   # Dockerfile path
      context: .
      dockerfile: Dockerfile
    ports:
      - "8901:8901"
    networks:
      - mynet
    mem_limit: 50M
    cpu_quota: 10000
    cpuset: 0,1
    mem_reservation: 20M
    restart: always
#    deploy:
#      mode: replicated
#      replicas: 6
#      resources:
#        limits:
#          cpus: '0.50'
#          memory: 50M
#        reservations:
#          cpus: '0.25'
#          memory: 20M
networks:
  mynet:
    driver: bridge

###################################################
# use Compose stepï¼š
# 1. Dockerfile
# 2. docker-compose.yml
# 3. docker-compose up or docker-compose up -d
###################################################